# Hugo build artifacts and cache
# /public/  
resources/_gen/
.hugo_build.lock
data/
themes/*/data/

# OS-specific files
.DS_Store
Thumbs.db
.localized
.vscode/
*.log
*.swp

# Node.js
node_modules/
npm-debug.log
yarn-error.log

